
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h2>insert sub heading here </h2>
<h2>discription</h2>
@using(Html.BeginForm("Home", "u19056509_hw3", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    <div>
        <input type="file" name="files"/>
        <input type="submit" value="upload"
    </div>
    

}

